html, body {
  height: 100%;
}

.container-fluid {
  min-height: 100%;
}

#control-panel {
  margin: 25px 0 25px 0;
}

.stage-header {
  border-bottom: 1px solid black;
  text-align: center;
}

#board {
  white-space: nowrap;
}

.work-item-header {
  font-size: 12px;
  font-weight: bold;
}

.work-items {
  margin: 0 2% 0 2%;
}

.work-item {
  padding: 5px;
  background-color: #eee;
  font-size: 12px;
  overflow: hidden;
  margin-top: 6%;
}

h4 {
  text-align: center;
}
